$main-color: #006994;
$secondary-color: #fcfcfc;

//Button colors
$success-button-color-hi: #003661;
$success-button-color-lo: #339CC7;

// header
$header-bg-color: $main-color;
$header-color: $secondary-color;

